@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --charcoal: #364652ff;
  --night: #071108ff;
  --thistle: #bfb1c1ff;
  --french-gray: #b5bec6ff;
  --columbia-blue: #c7dbe6ff;
  --thistle-transparent: #bfb1c1ff;
}

body {
  background: rgb(54, 70, 82);
  background: linear-gradient(
    90deg,
    rgba(54, 70, 82, 1) 0%,
    rgba(191, 177, 193, 1) 35%,
    rgba(181, 190, 198, 1) 100%
  );
}

* {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bold;
}

.page-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}
.header {
  font-size: 40pt;
}
.text {
  font-size: 20pt;
}

/* Welcome Page */
.card-container {
  display: flex;
  width: 70%;
  /* border: 1px solid rgba(0, 0, 0, 0.527); */
  border-radius: 30px;
  padding: 20px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#profile-pic-container {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

#welcome-content-container {
  width: 80%;
  margin-left: 20px;
}

.btn-bd-primary {
  --bs-btn-bg: var(--charcoal);
  --bs-btn-color: var(--french-gray);
}

/* About Page */

.section-header {
  font-size: 60pt;
  font-style: italic;
  font-weight: 900;
}

/* Experience Page */

#experience-container {
  /* display: flex;
  flex-wrap: wrap; */
}

.card-bg {
  background-color: rgba(255, 255, 255, 0.573);
}

.card {
  height: 300px;
}

/* Portfolio Page */

#portfolio {
}

.card-img-top {
  width: 100px;
  /* margin: auto; */
}

.project-link {
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.522);
  border-radius: 30px;
  /* border: 3px solid var(--charcoal); */
}
